<div class="" id="vendor_main_content">
    <h2>Manage full RIDE application From here</h2>

    <div class="flex justify_between admin_top">
        <div class="admin_info">
            <div class="flex justify_center align_center" style="flex-wrap: wrap; gap: 1em;">
                <!-- Total User -->
                <div class="vendor_card">
                    <div class="vendor_card_top flex justify_between ">

                        <div class="flex flex_col">
                            <h3>Total User</h3>
                        </div>



                    </div>
                    <div class="vendor_card_main flex justify_center align_center">
                        <h1>{{applicationInfo.userCount}}</h1>
                    </div>
                </div>
                <!-- Total Deliveries -->
                <div class="vendor_card">
                    <div class="vendor_card_top flex justify_between ">

                        <div class="flex flex_col">
                            <h3>Total Drivers</h3>
                        </div>

                    </div>
                    <div class="vendor_card_main flex justify_center align_center">
                        <h1>{{applicationInfo.driverCount}}</h1>
                    </div>
                </div>
                <!-- Total Orders -->
                <div class="vendor_card">
                    <div class="vendor_card_top flex justify_between ">

                        <div class="flex flex_col">
                            <h3>Pickup Requests</h3>
                        </div>

                    </div>
                    <div class="vendor_card_main flex justify_center align_center">
                        <h1>{{applicationInfo.pickupRequestCount}}</h1>
                    </div>
                </div>
                <!-- Total Vendor -->
                <div class="vendor_card">
                    <div class="vendor_card_top flex justify_between ">

                        <div class="flex flex_col">
                            <h3>Intercity Rides</h3>
                        </div>

                    </div>
                    <div class="vendor_card_main flex justify_center align_center">
                        <h1>{{applicationInfo.interCityRides}}</h1>
                    </div>
                </div>
                <!-- Total Earning -->
                <div class="vendor_card">
                    <div class="vendor_card_top flex justify_between ">

                        <div class="flex flex_col">
                            <h3>Total Earning</h3>
                        </div>
                    </div>
                    <div class="vendor_card_main flex justify_center align_center">
                        <h1>৳{{applicationInfo.totalEarning | number : '1.2-2'}}</h1>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <app-ride-bookings></app-ride-bookings>
</div>